.categories {
  -webkit-overflow-scrolling: touch;
  background-color: var(--color-body);
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: var(--spacing-md) 0;
  position: sticky;
  scrollbar-width: none;
  top: 0;
  z-index: 20;

  display: grid;
  grid-gap: var(--spacing-sm);
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  align-items: center;
}

.categories::-webkit-scrollbar {
  display: none;
}

.categories .links {
  flex-wrap: nowrap;
}
