.gallery {
  display: none;
}

@media (min-width: 1024px) {
  .mobileGallery {
    display: none;
  }

  .gallery {
    display: unset;
  }

  .details {
    position: sticky;
    top: var(--app-header-height);
  }
}
