.root {
  --cursor: pointer;
  align-items: center;
  background-color: var(--button-bg);
  border: var(--button-border);
  box-sizing: border-box;
  color: var(--button-text);
  cursor: var(--cursor);
  display: inline-flex;
  font-size: var(--size);
  font-weight: var(--font-semibold);
  height: 3em;
  justify-content: center;
  line-height: var(--leading-none);
  padding: 1.2em;
  transition-duration: 305ms;
  transition-property: opacity, color, background-color, filter;
  transition-timing-function: ease;
}

.root[disabled] {
  --cursor: default;
  opacity: 0.3;
}

.root:hover:not(:disabled) {
  filter: brightness(90%) contrast(120%);
}

.cta {
  --button-bg: var(--color-accent);
  --button-border: 0 none;
  --button-text: var(--color-on-accent);
}

.cta.transparent {
  --button-text: var(--color-accent);
}

.primary {
  --button-bg: var(--color-primary);
  --button-text: var(--color-on-primary);
}

.primary.transparent {
  --button-text: var(--color-primary);
}

.secondary {
  --button-bg: var(--color-secondary);
  --button-text: var(--color-on-secondary);
}

.secondary.transparent {
  --button-text: var(--color-secondary);
}

.transparent {
  --button-bg: transparent;
  --button-border: 0.1rem solid currentColor;
}

.text {
  --button-bg: transparent;
  --button-border: 0 none;
}

.icon {
  fill: currentColor;
  height: 1.4em;
  width: auto;
  margin-right: 0.65em;
}
