.root {
  min-height: 100vh;
  display: grid;
}

.banner {
  /* margin-top: -82px; */
  /* color: #fff; */
  height: 80vh;
}

.content {
  line-height: 1.6;
  padding: var(--spacing-lg) 0;
}

.details {
  display: grid;
  grid-gap: var(--spacing-md);
}

.details span {
  align-items: center;
  background-color: var(--color-surface);
  border-radius: var(--rounded-xl);
  color: var(--color-on-surface);
  display: grid;
  grid-gap: var(--spacing-sm);
  grid-template-columns: max-content max-content;
  padding: var(--spacing-md);
}

.details strong {
  display: grid;
  align-items: center;
  grid-template-columns: max-content max-content;
  grid-gap: var(--spacing-md);
}

.details strong svg {
  height: 1.2em;
  fill: currentColor;
}

.heading svg {
  fill: currentColor;
  height: 1em;
  margin-right: var(--spacing-xs);
  position: relative;
  top: 0.2rem;
}

.section {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  border-radius: var(--rounded-xl);
  padding: var(--spacing-md);
}

@media (min-width: 1024px) {
  .root {
    grid-template-columns: 1fr 1fr;
  }

  .banner {
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .content {
    max-width: var(--md);
    padding: var(--spacing-lg) var(--spacing-md);
  }

  .details {
    grid-template-columns: 1fr 1fr;
  }
}
