.rowsGrid > :global(.aem-container) {
  display: grid;
  grid-gap: var(--spacing-xl);
  grid-auto-rows: max-content;
}

/* Carousel  */
.carousel > :global(.aem-container) {
  --show: var(--carousel-show-sm);
  --carousel-padding: var(--spacing-lg);
  --carousel-gap: var(--spacing-md);

  -webkit-overflow-scrolling: touch;
  display: grid;
  grid-auto-columns: var(--show);
  grid-auto-flow: column;
  grid-gap: var(--carousel-gap);
  margin-bottom: var(--spacing-sm);
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: var(--spacing-lg);
  position: relative;
  scroll-padding: var(--carousel-padding);
  scroll-snap-type: x mandatory;
  scrollbar-width: 1px;

  padding-left: var(--padded);
}

@media (min-width: 768px) {
  .carousel > :global(.aem-container) {
    --show: var(--carousel-show-md);
  }
}

@media (min-width: 1024px) {
  .carousel > :global(.aem-container) {
    --show: var(--carousel-show-lg);
  }
}

@media (min-width: 1280px) {
  .carousel > :global(.aem-container) {
    --show: var(--carousel-show-xl);
  }
}

.carousel > :global(.aem-container)::-webkit-scrollbar {
  height: 0.125rem;
  width: 0.125rem;
}

.carousel > :global(.aem-container)::-webkit-scrollbar-track {
  margin: 20vw 0;
  border-radius: 0.625rem;
  background: var(--color-surface);
}

.carousel > :global(.aem-container)::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background: var(--color-scrollbar);
}

.carousel > :global(.aem-container).hideScrollBar {
  padding-bottom: unset;
  scrollbar-width: none;
  margin-bottom: 0;
}

.carousel > :global(.aem-container).hideScrollBar::-webkit-scrollbar {
  display: none;
}

.padded {
  padding-left: var(--padded);
}

.carousel > :global(.aem-container) > div {
  scroll-snap-align: center;
}
