.root {
  padding: var(--spacing-md) var(--padded);
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  border-radius: var(--rounded);
}

.shadow {
  box-shadow: 0px 2px 3px rgb(0 0 0 / 10%);
}
