.root h1,
.root h2,
.root h3,
.root h4,
.root h5,
.root h6 {
  margin-bottom: 1em;
  font-weight: var(--font-bold);
}

.root h1 {
  font-size: var(--font-2xl);
}

.root h2 {
  font-size: var(--font-xl);
}

.root h3 {
  font-size: var(--font-lg);
}

.root h4 {
  font-size: var(--font-md);
}

.root h5 {
  font-size: var(--font-sm);
}

.root h6 {
  font-size: var(--font-sm);
}

.root p:not(:last-of-type) {
  margin-bottom: var(--spacing-sm);
}

.root ol,
.root ul {
  list-style: none;
  padding-left: 1em;
  display: grid;
  grid-gap: var(--spacing-sm);
  margin-bottom: var(--spacing-md);
  grid-auto-rows: max-content;
  list-style-position: inside;
  list-style-type: square;
}

.root strong,
.root b {
  font-weight: var(--font-bold);
}

.root em {
  font-style: italic;
}
