.root {
  --footer-text-color: #ccc;
  background-color: #222;
  color: var(--footer-text-color);
}

.wrapper {
  display: grid;
  grid-gap: var(--spacing-lg);
  grid-template-areas:
    'logo'
    'nav'
    'social'
    'disclaimer';
  padding-bottom: var(--spacing-lg);
  padding-top: var(--spacing-lg);
}

@media (min-width: 768px) {
  .wrapper {
    grid-template-areas:
      'logo nav social'
      'disclaimer disclaimer disclaimer';
    grid-column-gap: var(--spacing-lg);
    grid-template-columns: auto 1fr auto;
  }
}

.root a {
  color: var(--footer-text-color);
  text-decoration: none;
}

.root a:hover {
  --footer-text-color: #fff;
}

.logo {
  grid-area: logo;
  height: 3.125rem;
}

.nav {
  align-items: center;
  display: grid;
  font-size: var(--font-sm);
  grid-area: nav;
  grid-auto-columns: max-content;
  grid-gap: var(--spacing-md);
  height: 100%;
}

@media (min-width: 1024px) {
  .nav {
    grid-auto-flow: column;
    grid-gap: var(--spacing-lg);
  }
}

.disclaimer {
  grid-area: disclaimer;
  line-height: 1.5;
  font-size: var(--font-sm);
  display: grid;
  grid-gap: var(--spacing-md);
}

.disclaimer > div {
  opacity: 0.65;
  font-style: normal;
}

.disclaimer > div p:not(:last-of-type) {
  margin-bottom: var(--spacing-xs);
}

.social {
  align-items: start;
  grid-area: social;
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  grid-gap: var(--spacing-md);
}

.social svg {
  fill: currentColor;
  width: 1.875em;
}
