.root {
  --footer-text-color: #ccc;
  background-color: #222;
  color: var(--footer-text-color);
}

.wrapper {
  display: grid;
  grid-gap: var(--spacing-lg);
  grid-template-areas:
    'logo'
    'disclaimer';
  padding-bottom: var(--spacing-lg);
  padding-top: var(--spacing-lg);
}

@media (min-width: 768px) {
  .wrapper {
    grid-template-areas: 'logo disclaimer';
    grid-column-gap: var(--spacing-md);
    grid-template-columns: auto 1fr;
  }
}

.root a {
  color: var(--footer-text-color);
  text-decoration: none;
}

.root a:hover {
  --footer-text-color: #fff;
}

.logo {
  grid-area: logo;
  height: 3.125rem;
}

.disclaimer {
  grid-area: disclaimer;
  line-height: 1.5;
  font-size: var(--font-xs);
  display: grid;
  grid-gap: var(--spacing-sm);
}

.disclaimerCopy {
  opacity: 0.65;
}

.disclaimerCopy p:not(:last-of-type) {
  margin-bottom: var(--spacing-xs);
}
