.root {
  --show: var(--carousel-show-sm);
  -webkit-overflow-scrolling: touch;
  display: grid;
  grid-auto-columns: var(--show);
  grid-auto-flow: column;
  grid-gap: var(--carousel-gap);
  margin-bottom: var(--spacing-sm);
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: var(--spacing-sm);
  position: relative;
  scroll-padding: var(--carousel-padding);
  scroll-snap-type: x mandatory;
  scrollbar-width: 1px;
}

@media (min-width: 768px) {
  .root {
    --show: var(--carousel-show-md);
  }
}

@media (min-width: 1024px) {
  .root {
    --show: var(--carousel-show-lg);
  }
}

@media (min-width: 1280px) {
  .root {
    --show: var(--carousel-show-xl);
  }
}

.root::-webkit-scrollbar {
  height: 0.125rem;
  width: 0.125rem;
}

.root::-webkit-scrollbar-track {
  margin: 0 20vw;
  border-radius: 0.625rem;
  background: var(--color-surface-darker);
}

.root::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background: var(--color-on-surface-lighter);
}

.root.hideScrollBar {
  padding-bottom: unset;
  scrollbar-width: none;
  margin-bottom: 0;
}

.root.hideScrollBar::-webkit-scrollbar {
  display: none;
}

.padded {
  padding-left: var(--padded);
}

.item {
  scroll-snap-align: center;
}
