.wrapper {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.surface {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}

img.image,
.image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  /* flex-grow: 1; */
}

.content {
  margin-top: var(--spacing-sm);
  display: grid;
  grid-gap: var(--spacing-sm);
}

.surface .content {
  padding: 0 var(--padded) var(--padded);
}

.heading {
  font-weight: var(--font-semibold);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-sm);
}

.tag {
  filter: opacity(0.5);
}

a.tag:hover {
  color: var(--color-on-surface);
}

.tag:not(:last-of-type) {
  margin-right: var(--spacing-sm);
}
