.root {
  overflow: hidden;
}

.wrapper {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.surface {
  background-color: var(--color-surface);
  border-radius: var(--rounded-md);
  color: var(--color-on-surface);
}

.image {
  display: grid;
  grid-auto-rows: 100%;
}

.image img {
  object-fit: cover;
  width: 100%;
  /* height: auto; */
}

.root:not(.surface) .image {
  border-radius: var(--rounded);
  overflow: hidden;
}

.vignette {
  position: relative;
  flex-grow: 1;
}

.vignette::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.15);
}

.content {
  display: grid;
  grid-gap: var(--spacing-sm);
  padding: var(--spacing-sm) var(--spacing-md);
}

.surface .content {
  padding-bottom: var(--spacing-md);
}

.heading {
  font-weight: var(--font-semibold);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-xs);
}

.tag {
  filter: opacity(0.5);
}

a.tag:hover {
  color: var(--color-on-surface);
}

.tag:not(:last-of-type) {
  margin-right: var(--spacing-sm);
}
