.hero {
  height: 600px;
}

.heroImageWrapper {
  position: relative;
  width: inherit;
  height: inherit;
  background: var(--color-skeleton);
}

@media (min-width: 1024px) {
  .hero {
    position: sticky;
    top: var(--app-header-height);
    height: calc(var(--app-body-height) - var(--app-header-height));
  }
}
