.hero {
  height: 600px;
}

.contributorImage {
  border-radius: var(--rounded-full);
}

@media (min-width: 1024px) {
  .hero {
    position: sticky;
    top: var(--app-header-height);
    height: calc(var(--app-body-height) - var(--app-header-height));
  }
}
