.spacings {
  --spacing-xxs: 0.15625rem;
  --spacing-xs: 0.3125rem;
  --spacing-sm: 0.625rem;
  --spacing-md: 1.25rem;
  --spacing-lg: 2.5rem;
  --spacing-xl: 3.75rem;
  --spacing-2xl: 4.25rem;
  --spacing-3xl: 4.75rem;
}
