.root {
  align-items: center;
  backdrop-filter: blur(50px);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0.1;
  padding: var(--padded);
  position: fixed;
  top: 0;
  transition: all 300ms ease;
  z-index: 20;
  width: 100%;
  height: 100%;
}

.root.open {
  opacity: 1;
}

.wrapper {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  min-width: var(--sm);
  max-width: 100%;
  padding: var(--padded);
  animation-duration: 300ms;
  animation-name: slideOut;
}

.wrapper.open {
  animation-name: slideIn;
}

@keyframes slideIn {
  from {
    opacity: 0.1;
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    opacity: 0.1;
    transform: translateY(100%);
  }
}
