.root {
  --header-accent: var(--color-accent);
  --header-bg: var(--color-surface);
  --header-link: var(--header-text);
  --header-text: var(--color-on-surface);
  --header-logo-size: 4rem;
  --header-logo-color: unset;

  background-color: var(--header-bg);
  color: var(--header-text);
}

.wrapper {
  display: grid;
  grid-gap: var(--spacing-xs);
  grid-template-columns: auto 1fr;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.root.surface {
  --header-bg: var(--color-surface);
  --header-text: var(--color-on-surface);
}

.root.surface.transparent {
  --header-text: var(--color-surface);
}

.root.surface.transparent.scrolled {
  --header-bg: var(--color-surface);
  --header-text: var(--color-on-surface);
}

.root.primary {
  --header-bg: var(--color-primary);
  --header-text: var(--color-on-primary);
}

.root.primary.transparent {
  --header-text: var(--color-primary);
}

.root.primary.transparent.scrolled {
  --header-bg: var(--color-primary);
}

.root.secondary {
  --header-bg: var(--color-secondary);
  --header-text: var(--color-on-secondary);
}

.root.secondary.transparent {
  --header-text: var(--color-secondary);
}

.root.surface.transparent.scrolled {
  --header-bg: var(--color-surface);
}

.root.accent {
  --header-accent: var(--color-on-accent);
  --header-bg: var(--color-accent);
  --header-text: var(--color-on-accent);
}

.root.accent.transparent {
  --header-accent: var(--color-accent);
  --header-text: var(--color-accent);
}

.root.transparent {
  --header-bg: transparent;
}

.root.sticky {
  --header-top: none;
  position: sticky;
  top: 0;
  transform: translateY(var(--header-top));
  transition: all 200ms ease-in-out;
}

.root.sticky.hide {
  --header-top: -100%;
}

.root.sticky.scrolled {
  --header-logo-size: 2.5rem;
  --header-logo-color: var(--header-text);
}

.logoWrapper {
  align-items: center;
  display: flex;
  margin: 0;
  width: auto;
}

.logo {
  fill: var(--header-logo-color);
  transition: all 300ms ease;
  height: var(--header-logo-size);
  width: auto;
}

.menuWrapper {
  -webkit-overflow-scrolling: touch;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
}

.menuWrapper::-webkit-scrollbar {
  display: none;
}

.menu {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  white-space: nowrap;
}

.menuItem {
  align-items: center;
  display: flex;
  justify-content: center;
  color: currentColor;
  text-decoration: none;
}

.menuItem:not(:last-of-type) {
  margin-right: var(--spacing-md);
}

.menuItem.compact:not(:last-of-type) {
  margin-right: var(--spacing-sm);
}

.menuItem.fill {
  flex-grow: 1;
}

.menuItem.icon svg {
  fill: currentColor;
  height: 1.6rem;
  width: auto;
}

.menuItem.link {
  align-self: center;
  color: var(--header-link);
  padding: var(--spacing-xs) var(--spacing-xxs);
  position: relative;
  transition: color 0.3s cubic-bezier(0.11, 0.7, 0, 1);
  z-index: 1;
}

.menuItem.link::after {
  background-color: var(--header-accent);
  bottom: 0;
  content: '';
  display: block;
  height: 0.2rem;
  left: 0;
  position: absolute;
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.11, 0.7, 0, 1);
  width: 100%;
}

.menuItem.link.active::after,
.menuItem.link:hover::after {
  transform: scale(1);
}
