.root {
  --header-accent: var(--color-accent);
  --header-bg: var(--color-primary);
  --header-link: var(--header-text);
  --header-text: var(--color-on-primary);
  background-color: var(--header-bg);
  color: var(--header-text);
  display: flex;
  padding: var(--spacing-sm);
}

.root.primary {
  --header-bg: var(--color-primary);
  --header-text: var(--color-on-primary);
}

.root.primary.quiet {
  --header-bg: transparent;
  --header-text: var(--color-primary);
}

.root.secondary {
  --header-bg: var(--color-secondary);
  --header-text: var(--color-on-secondary);
}

.root.secondary.quiet {
  --header-bg: transparent;
  --header-text: var(--color-secondary);
}

.root.accent {
  --header-accent: var(--color-on-accent);
  --header-bg: var(--color-accent);
  --header-text: var(--color-on-accent);
}

.root.accent.quiet {
  --header-accent: var(--color-accent);
  --header-bg: transparent;
  --header-text: var(--color-accent);
}

.logoWrapper {
  align-items: center;
  display: flex;
  margin: 0;
  width: auto;
}

.logo {
  fill: currentColor;
  height: 1.6rem;
  width: auto;
}

.nav {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.navFill {
  flex-grow: 1;
}

.navItem:not(:last-of-type) {
  margin-right: var(--spacing-md);
}

.navItem.compact:not(:last-of-type) {
  margin-right: var(--spacing-sm);
}

.navItem a {
  color: currentColor;
  text-decoration: none;
}

.navItem.link a {
  color: var(--header-link);
  display: block;
  overflow: hidden;
  padding: 0 var(--spacing-xxs) var(--spacing-xs);
  position: relative;
  transition: color 0.3s cubic-bezier(0.11, 0.7, 0, 1);
  z-index: 1;
}

.navItem.link a::after {
  background-color: var(--header-accent);
  bottom: 0;
  content: '';
  display: block;
  height: 0.2rem;
  left: 0;
  position: absolute;
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.11, 0.7, 0, 1);
  width: 100%;
}

.navItem.link.active a::after,
.navItem.link a:hover::after {
  transform: scale(1);
}

.navItem svg {
  fill: currentColor;
  height: 1.6rem;
  width: auto;
}
