.root {
  --columns: var(--grid-columns-sm);
  --gap: var(--grid-gap-sm);
  --rows: var(--grid-rows-sm);
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: var(--columns);
  grid-template-rows: var(--rows);
}

@media (min-width: 768px) {
  .root {
    --columns: var(--grid-columns-md);
    --gap: var(--grid-gap-md);
    --rows: var(--grid-rows-md);
  }
}

@media (min-width: 1024px) {
  .root {
    --columns: var(--grid-columns-lg);
    --gap: var(--grid-gap-lg);
    --rows: var(--grid-rows-lg);
  }
}

@media (min-width: 1280px) {
  .root {
    --columns: var(--grid-columns-xl);
    --gap: var(--grid-gap-xl);
    --rows: var(--grid-rows-xl);
  }
}
