.root {
  color: var(--heading-color);
  display: block;
  font-size: var(--heading-size-sm);
  font-weight: var(--font-semibold);
  line-height: 1.3;
  width: 100%;
  vertical-align: middle;
}

.padded {
  padding-left: var(--padded);
  padding-right: var(--padded);
}

.iconWrapper {
  display: grid;
  align-items: center;
  grid-auto-rows: max-content;
  grid-gap: 0.35em;
  grid-template-columns: auto 1fr;
}

.icon {
  width: auto;
  height: 1.1em;
}

.root em {
  font-style: italic;
}

@media (min-width: 768px) {
  .root {
    font-size: var(--heading-size-md);
  }
}

@media (min-width: 1024px) {
  .root {
    font-size: var(--heading-size-lg);
  }
}

@media (min-width: 1280px) {
  .root {
    font-size: var(--heading-size-xl);
  }
}

.root.accent::after {
  content: '';
  border-bottom: 0.15em solid var(--color-secondary);
  width: 4rem;
  display: block;
}
