.root {
  display: block;
  font-size: var(--banner-size-sm);
  font-weight: var(--font-semibold);
  line-height: 1.3;
  width: 100%;
}

@media (min-width: 768px) {
  .root {
    font-size: var(--banner-size-md);
  }
}

@media (min-width: 1024px) {
  .root {
    font-size: var(--banner-size-lg);
  }
}

@media (min-width: 1280px) {
  .root {
    font-size: var(--banner-size-xl);
  }
}

.root.accent::after {
  background-color: var(--color-accent);
  content: '';
  display: block;
  height: 0.185rem;
  margin-top: 0.15em;
  width: 2rem;
}
