.root {
  color: var(--heading-color);
  display: block;
  font-size: var(--heading-size-sm);
  font-weight: var(--font-semibold);
  line-height: 1.3;
  width: 100%;
  vertical-align: middle;
}

.padded {
  padding-left: var(--padded);
  padding-right: var(--padded);
}

.icon {
  width: auto;
  height: 1.1em;
}

.root em {
  font-style: italic;
}

@media (min-width: 768px) {
  .root {
    font-size: var(--heading-size-md);
  }
}

@media (min-width: 1024px) {
  .root {
    font-size: var(--heading-size-lg);
  }
}

@media (min-width: 1280px) {
  .root {
    font-size: var(--heading-size-xl);
  }
}

.root.accent {
  position: relative;
  padding-left: calc(var(--spacing-sm) + 0.25em);
}

.root.accent::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0.15em;
  height: 100%;
  background-color: var(--color-secondary);
}
