.root {
  align-items: center;
  display: flex;
  font-size: var(--font-md);
  justify-content: center;
  padding: var(--padded);
  line-height: 1.5;
  text-align: center;
  height: 100%;
}

.root > span {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.root svg {
  display: inline-block;
  margin-bottom: var(--spacing-sm);
  width: 6em;
  height: auto;
}
